@tailwind base;
@tailwind components;
@tailwind utilities;

.annotation {
    transform: translate3d(calc(55%), calc(-45%), 0);
}

.annotation::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -30px;
    height: 2px;
    width: 30px;
}

.annotation-menu::before {
    content: "";
    position: absolute;
    top: 63px;
    left: -80px;
    transform: rotate(141deg);
    height: 2px;
    width: 91px;
}