@tailwind base;
@tailwind components;
@tailwind utilities;

.annotation {
    transform: translate3d(calc(30%), calc(-45%), 0);
}

.annotation::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -60px;
    height: 2px;
    width: 60px;
}

.annotation-menu::before {
    content: "";
    position: absolute;
    top: 85px;
    left: -105px;
    transform: rotate(133deg);
    height: 2px;
    width: 123px;
}